%p#notice= notice
%p
  %b Name:
  = @product.name
%p
  %b Description:
  = @product.description
%p
  %b Price:
  = @product.price
%p
  %b Quantity:
  = @product.quantity
%p
  %b Birth:
  = @product.birth
= link_to 'Edit', edit_product_path(@product)
|
= link_to 'Back', products_path